<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n">
  <xi:include href="admin.html"/>
  <head>
    <title>Repository Permissions</title>
  </head>

  <body>
    <h2>Manage Repository Permissions</h2>
    <form method="post" action="">

    <span py:for="repo in sorted(repos_perms)">
      <h3>$repo</h3>

      <table class="listing">
        <thead>
          <tr>
            <th colspan="2" width="32%">write access</th>
            <th colspan="2" width="32%">readonly access</th>
            <th colspan="2" width="32%">permissions not set</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <span py:for="permission_class in ('W', 'R','0')">
              <td style="padding: 0px" width="16%">
                <table class="listing" style="margin: 0px">
                  <thead>
                    <tr>
                      <th colspan="2">groups</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr py:for="user in repos_perms[repo][permission_class]['g']">
                      <td>
                        <span style="font-weight: bold">$user</span>
       	                <label py:for="perm in permissions"
                                  for='{"repo": "$repo", "user": "$user", "perm": "$perm"}'
                               style="border: 1px solid lightgray; border-radius: 5px; padding: 2px; margin-right: 2px">
                          $perm
                          <input type="checkbox" 
                                 name='{"repo": "$repo", "user": "$user", "perm": "$perm"}'
                                 id='{"repo": "$repo", "user": "$user", "perm": "$perm"}'
                                 checked="checked" 
                                 py:if="user in repos_perms[repo]['perms'].get(perm, [])" />
                          <input type="checkbox" 
                                 name='{"repo": "$repo", "user": "$user", "perm": "$perm"}'
                                 id='{"repo": "$repo", "user": "$user", "perm": "$perm"}'
                                 py:if="user not in repos_perms[repo]['perms'].get(perm, [])" />
                          </label>
                          <br/>
                          <small style="color: gray">
                            Members:
                            <span py:for="member in groups[user]">
                              $member
                            </span>
                          </small>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td style="padding: 0px" width="16%">
                <table class="listing" style="margin: 0px">
                  <thead>
                    <tr>
                      <th colspan="2">users</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr py:for="user in repos_perms[repo][permission_class]['u']">
                      <td>
                        <span style="font-weight: bold">$user</span>
                        <label py:for="perm in permissions"
                                  for='{"repo": "$repo", "user": "$user", "perm": "$perm"}'
                               style="border: 1px solid lightgray; border-radius: 5px; padding: 2px; margin-right: 2px">
                          $perm
                          <input type="checkbox" 
                                 name='{"repo": "$repo", "user": "$user", "perm": "$perm"}'
                                 id='{"repo": "$repo", "user": "$user", "perm": "$perm"}'
                                 checked="checked" 
                                 py:if="user in repos_perms[repo]['perms'].get(perm, [])" />
                          <input type="checkbox" 
                                 name='{"repo": "$repo", "user": "$user", "perm": "$perm"}'
                                 id='{"repo": "$repo", "user": "$user", "perm": "$perm"}'
                                 py:if="user not in repos_perms[repo]['perms'].get(perm, [])" />
                          </label>
                          <br/>
                          <small style="color: gray">
                            Member of:
                            <span py:for="memberof in inverse_groups[user]">
                              $memberof
                            </span>
                          </small>
 
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </span>
          </tr>
        </tbody>
      </table>
    </span>

    <div class="buttons">
      <input type="submit" value="${_('Update repository permissions')}" />
    </div>

    </form>
  </body>

</html>
